/* 
    Created on : 21/fev/2019, 10:28:00
    Author     : Isaquiel Fernandes
*/

/*.......... Cores Graficos de Barra ...........*/
.chart-bar {
    -fx-background-color: derive(-fx-bar-fill, 20%), derive(-fx-bar-fill, 0%);
    -fx-background-insets: 0px;
}

.bar-legend-symbol {
    -fx-padding: 10px;
    -fx-background-insets: 4px;
    -fx-border-radius: 0px;
}

.default-color0.chart-bar {
    -fx-bar-fill: #FF5722;
    /*-fx-bar-fill: rgba(97, 181, 97, 0.8);*/
}

.default-color1.chart-bar {
    -fx-bar-fill: #00BCD4;
    /*-fx-bar-fill: rgba(97, 181, 97, 0.8);*/
}

.default-color2.chart-bar {
    -fx-bar-fill: #4fa9c5;
}

.default-color3.chart-bar {
    -fx-bar-fill: #2E8CD9;
}

.default-color4.chart-bar {
    -fx-bar-fill: #58488c;
}

.default-color5.chart-bar {
    -fx-bar-fill: #A52A73;
}

.default-color6.chart-bar {
    -fx-bar-fill: #fd3443;
}

.default-color7.chart-bar {
    -fx-bar-fill: #ff8f00;
}